/* Josefin Sans font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*? 1 rem means 16px(font size) */

/*! universal */
* {
    margin: 0;
    padding: 0;
}

/*! body  */
body {
    font-family: "Josefin Sans", sans-serif;
    background-color: black;
    color: white;
    /*hide overflow content*/
    overflow: hidden;
}

/*! main */
.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

/*! main music  */
.main-music {
    background-color: rgb(18, 18, 18);
    /*give me remaining width*/
    flex: 1;
    /* make it scrollabel */
    overflow: auto;
    border-radius: 1rem;
}

/*! sidebar  */
.sidebar {
    width: 260px;
    border-radius: 1rem;
}

/*! footer music  */
.footer-music {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*! sidebar nav  */
.sidebar-nav {
    background-color: rgb(18, 18, 18);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2rem;
    height: 100px;
}

.nav-option {
    opacity: 0.7;
    margin-left: 0.75rem;
    cursor: pointer;
}

.nav-option:hover {
    opacity: 1;
    font-weight: 600;
}

.sidebar-nav i {
    font-size: 1rem;
}

.nav-option a {
    margin-left: 0.75rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/*! sidebar-library */
.sidebar-library {
    background-color: rgb(18, 18, 18);
    border-radius: 1rem;
    margin-top: 0.4rem;
    height: 100%;
}

.sidebar-library img {
    height: 1rem;
    margin-bottom: 0.4rem;
}

.library-icon i {
    opacity: 0.5;
    cursor: pointer;
}

.library-icon i:hover {
    opacity: 1;
    font-weight: 600;
}

.library-card {
    background-color: #232323;
    border-radius: 1rem;
    margin: 1rem 0.1rem;
    padding: 1rem 0.55rem;
}

.library-card #p1 {
    font-weight: bold;
    font-size: 1.1rem;
}

.library-card #p2 {
    opacity: 0.9;
    font-size: 0.85rem;
}

.below-card {
    display: flex;
    flex-wrap: wrap;
}

.below-card span {
    font-size: 0.7rem;
    opacity: 0.8;
    margin-left: 1rem;
    line-height: 2rem;
    cursor: pointer;
}

.below-card span:hover {
    opacity: 1;
    font-weight: 800;
}

/*! top nav  */
.nav-icons {
    margin-left: 1rem;
}

.music-nav {
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #101010;
}

@media(max-width:900px) {
    #upgrade-btn {
        display: none;
    }
}

@media(max-width:700px) {
    #install-btn {
        display: none;
    }

    .nav-icons {
        margin-left: 0.1rem;
    }
}

/*! music cards  */
.hover-underline {
    cursor: pointer;
    opacity: 0.8;
}

.hover-underline:hover {
    opacity: 1;
    text-decoration: underline;
}

.music-card {
    background-color: #202020;
    padding: 1rem;
    width: 12rem;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.music-card-play-btn {
    display: none;
    font-size: 2.5rem;
    position: absolute;
    top: 9.5rem;
    right: 1.2rem;
    color: rgb(0, 255, 0);
}

.music-card:hover>.music-card-play-btn {
    display: block;
}

.music-card:hover {
    background-color: #303030;
}

.music-card img {
    width: 100%;
    border-radius: 0.6rem;
}

.sm-text {
    font-size: 0.8rem;
}

/*! main-music-footer  */
.main-music-footer {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-container {
    height: 40%;
    width: 90%;
    border-top: 2px solid white;
    opacity: 0.7;
}

/*! footer player */
/*?  .footer-album  */
.footer-album {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-text1 {
    font-size: 1rem;
    font-weight: 700;
}

.album-text2 {
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.9;
}

.footer-album img {
    height: 3.5rem;
    border: 0.1rem solid white;
    border-radius: 0.25rem;
}

/*? .footer-player  */
.footer-player {
    width: 50%;
}

.player-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-icons img {
    width: 0.75rem;
    margin-left: 1rem;
    opacity: 0.6;
    cursor: pointer;
}

.player-icons #icon-larger {
    opacity: 1;
    width: 2rem;
}

.player-icons img:hover {
    font-weight: bold;
    opacity: 1;
}

.player-progress {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
}

/* 
.progress-bar::-webkit-slider-runnable-track {
    appearance: none;
    height: 1rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
} */

.player-progress .time {
    font-size: 0.8rem;
}

/*? footer controlles  */
.hide {
    width: 26%;
}

.footer-controls i {
    font-size: 0.8rem;
    margin-left: 1rem;
}

.volume {
    margin-left: 1.2rem;
}

/* extra */
.handel-md {
    display: none;
}

@media(max-width:500px) {

    .nav-icons,
    .sidebar,
    .footer-album,
    .player-progress,
    .hide {
        display: none;
    }

    .handel-md {
        display: inline;
    }

    .player-icons img {
        width: 1rem;
        margin-left: 1rem;
    }

    .player-icons #icon-larger {
        width: 2rem;
        margin-left: 1rem;
    }

    .music-card {
        padding: 0.5rem;
        width: 9rem;
        border-radius: 0.5rem;
        margin-right: 0.8rem;
        margin-top: 1rem;
    }

    .music-card-play-btn {
        top: 6rem;
        right: 1rem;
    }
}