.container {
    height: 300px;
    width: 500px;
    background-color: aqua;
}

.container div {
    height: 70px;
    width: 150px;
    background-color: red;
}

#container1 {
    display: flex;
    flex-wrap: wrap;
}

#last {
    /* align-self: flex-end; */
    /* align-self: self-start; */
    align-self: center;
    /* align-self: baseline; */
}