.container1 {
    height: 300px;
    width: 600px;
    background-color: aqua;
    display: grid;
    /* grid-template-rows */
    grid-template-rows: 100px 100px 100px;
}

.container2 {
    height: 300px;
    width: 600px;
    background-color: aqua;
    display: grid;
    /* grid-template-columns */
    grid-template-columns: 100px 100px 100px;
}

.container1 div {
    height: 50px;
    width: 100px;
    background-color: brown;
    border: 2px solid black;
}


.container2 div {
    height: 50px;
    width: 100px;
    background-color: brown;
    border: 2px solid black;
}